.seats {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px; 
}

.available {
  background-color: lightgreen;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.booked {
  background-color: lightcoral;
  margin: 5px;
  padding: 10px;
}
